footer{
    background-color: grey;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    height: 80px;
    padding: 10px;

}
.redes{
    width: 25px;
    transition: all 1s;
    &:hover{
        height: 50px;
        transform: scale(2, 2);
    }
}