/* Pagina Carta */
.carta__orden{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "pizza papas tomar"
                        "sandwich burger carnes"
                        "picar logo pastas";
}
.pizza{
    @extend .background-grid;
    grid-area: pizza;
    background-image: url("../resources/Carta-pizzas.jpg");
}
.papas{
    @extend .background-grid;
    grid-area: papas;
    background-image: url("../resources/Carta-especial-papas.jpg");
}
.tomar{
    @extend .background-grid;
    grid-area: tomar;
    background-image: url("../resources/Carta-para-tomar.jpg");
}
.sandwich{
    @extend .background-grid;
    grid-area: sandwich;
    background-image: url("../resources/Carta-sandwich.jpg");
}
.burger{
    @extend .background-grid;
    grid-area: burger;
    background-image: url("../resources/Carta-burger.jpg");
}
.carnes{
    @extend .background-grid;
    grid-area: carnes;
    background-image: url("../resources/Carta-carnes.jpg");
}
.picar{
    @extend .background-grid;
    grid-area: picar;
    background-image: url("../resources/Carta-para-picar.jpg");
}
.logo{
    @extend .background-grid;
    grid-area: logo;
    background-image: url("../resources/logo-1.webp");
}
.pastas{
    @extend .background-grid;
    grid-area: pastas;
    background-image: url("../resources/Carta-pastas.jpg");
}