@import "fondo";
@import "index";
@import "carta";
@import "cervezas";
@import "contacto";
@import "eventos";
@import "variables";
@import "operator";
@import "footer";
@import "mediaqueries";

*{
    margin: 0;
    padding: 0;
}
/* Header */
.header{
    background-color: black;
    padding: 10px;
    text-align: center;
    &__item{
        display: flex;
        flex-wrap: wrap;
        padding: 30px;
        height: 50px;
    }
    &__lista{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        justify-content: center;
        text-align: center;
        padding: 16px;
        flex-grow: 1;
    }
    &__item{
        display: inline;
    }
    &__item a{
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
        padding: 10px;
    }
}
/* Titulo Principal */
h1{
    text-align: center;
    background-color: black;
    color: gold;
    padding: 16px;
}




.image__cerveza{
    display: flex;
    width: 300px;
    height: 300px;
}



